[2015-04-22 13:35] tomaskraina opened #11 "[Request] Azure-NotificationHubs CocoaPod"
This would enable seamless version & dependency management in larger production-prospective projects.

This would be similar to what already exists for Microsoft Azure Mobile Services: https://cocoapods.org/pods/AzureSDK-iOS

[2015-04-22 14:36] tomaskraina opened #12 "Property 'registrationId' not found on object of type 'StoredRegistrationEntry *'"
Compiling produces the following warning:

[code]

[2015-04-22 14:37] tomaskraina opened #13 "sending 'const NSString *__strong' to parameter of type 'NSString *' discards qualifiers"
Compiling produces the following warning:

[code]

[2015-04-22 14:38] tomaskraina opened #14 "implicit conversion loses integer precision: 'long' to 'int'"
Compiling produces the following warning:

[code]

[2015-05-04 21:10] svenrobin opened #25 "Getting error: file is universal (4 slices) but does not contain a(n) armv7s slice:"
When trying to build for cordova im getting this error.

[2015-12-23 21:16] paulbatum opened #21 "Provide iOS framework download"
As discussed in https://github.com/Azure/azure-mobile-services/issues/812 the Messaging Framework is no longer included in the iOS SDK downloads for mobile services/apps. iOS users need a convenient way to obtain the framework, such as a zip download from http://azure.github.io.

[2016-02-08 20:11] mnespor opened #15 "iOS: [SBNotificationHub unregisterAllWithDeviceToken:completion:] doesn't unregister all registrations"
If an iPhone has two registrations with the same device token, one call to `unregisterAllWithDeviceToken:completion:` seems like it would delete them both. The actual behavior is that `unregisterAllWithDeviceToken:completion:` needs to be called twice--each call deletes one registration. Here's my incomplete understanding of what's going on:

SBNotificationHub.m:

[code]

`unregisterAllWithDeviceT

[2016-09-19 15:51] Toolenaar opened #16 "iOS 10 Swift 3 support"
I have a project which I have just updated to swift 3 and iOS 10. I use the Windows.AzureMessaging.Framework in this project, but it seems the tutorial site (https://azure.microsoft.com/en-us/documentation/articles/notification-hubs-ios-apple-push-notification-apns-get-started/) does not point to an updated version for swift 3. Is there an updated version and if so where can I find it ?

[2018-04-11 14:44] vikram-ma opened #22 "[iOS] leakage of confidential information"
There is a security vulnerability where device tokens can be read from iOS device since it is stored in NSUserDefaults, particularly below file,
iOS/WindowsAzureMessaging/WindowsAzureMessaging/Helpers/SBLocalStorage.m

Any plan to fix this?

[2018-06-21 14:43] ArchForge opened #17 "iOS Rich push with mutable-content property"
Hi,
I'm trying to implement rich push notifications (with NotificationServiceExtension) for iOS(obj c), and I get a 400 error when sending the mutable-content property in the template with the method "registerTemplateWithDeviceToken". It might have some problem with the dash symbol (possibly). Does anyone know how to fix or work around this issue? Or if I'm way off somehow: what's the correct way

[2019-03-05 08:46] jacksonakj opened #18 "Support the apns-collapse-id so notifications can be coalesced"
I would like to use the apns-collapse-id header to coalesce notifications on iOS devices.  However, I understand that apns-collapse-id is not supported through Azure Notification Hub based on the following post at: https://social.msdn.microsoft.com/Forums/azure/en-US/5fddec0e-1c83-48f8-8a3c-f7107899c6ba/microsoftazurenotificationhubs-version108-apnscollapseid-http2?forum=notificationhubs

[2019-03-05 09:26] najones opened #19 "[iOS] tags are sent in undetermined order, makes unit testing more difficult"
I notice that the SBNotificationHub `register`\* methods take an `NSSet` of tags which works fine.

However, the in the unit tests the body is compared via string comparison. Since the order of the members of the set is undefined, I have noticed that the tests sometimes pass and sometimes fail (in fact it looks like 64-bit simulated devices order them one way, and 32-bit the other).

In my local r

[2019-03-05 09:26] #19 closed

[2019-03-05 09:26] rdrscan opened #20 "ios9 support"
Hello!

Could someone help me building iOS/bin/WindowsAzureMessaging.framework.zip with io9 support?
Sorry, but I use cordova and I don't know very much about xcode deploy and I am having some trouble with the new xcode.

Tks

[2019-03-05 09:26] #20 closed

[2019-03-05 09:26] #21 closed

[2019-03-05 09:27] #22 closed

[2019-03-05 09:28] VicZhang1 opened #23 "Bitcode is not full enabled"
Hi,

I get an error as below:

But otool shows it contains bitcode:

Any ideas?

Thanks,
-
Vic

[2019-03-05 09:28] #23 closed

[2019-03-25 08:53] usman0910 opened #29 "Tags are not working properly for xamarin forms ios when I set enableTestSend to false"
unable to send push notifications to specific tag on ios when I set enableTestSend to false in production, but if I send empty tag it works fine and also tags are working fine on android.

[2019-03-25 11:44] jwargo commented on #29
@usman0910 Can you please be more specific?  You're telling us you can't send notifications, but there's not enough information for us to help you. Do you get an error message? Does the app not compile?

[2019-03-26 08:24] elvirberisha commented on #16
I found a solution and I post here all the steps to integrate the Azure Notification Hub with Swift:
1) On your project root, create a new Folder called "Headers"
2) Inside that Folder create a New File > Header File > Call it "HubInfo.h"
3) Copy this code inside your HubInfo.h file (remember to replace the values of HUBNAME and HUBLISTENACCESS with your project's hubName and hubConnString):
`
#if

[2019-05-08 09:58] isoindisystems commented on #25
@Alessar yes, the issue still exists. You cant build it for the ARMv7s architecture.

[2019-06-17 16:03] kross50 opened #30 "iOS 13 crash on registerNativeWithDeviceToken & unregisterNativeWithDeviceToken"

[2019-06-21 05:24] kross50 commented on #30
Issue happens on iOS 13 Beta 1 & Beta 2 still.

[2019-06-25 13:54] jwargo commented on #30
@kross50 Can you please provide more information? Telling us your app crashed without providing code samples and error messages doesn't allow us to provide you with any assistance.

[2019-06-28 03:26] kross51 commented on #30
Sorry, couldn't recover my old account.  At any rate, the following is the code snippet and below that is the exception.

SBNotificationHub* hub = [[SBNotificationHub alloc] initWithConnectionString:HUBLISTENACCESS_PROD
                                                          notificationHubPath:HUBNAME_PROD]

[hub registerNativeWithDeviceToken:deviceToken tags:[NSSet setWithArray:@[convertedDevi

[2019-06-28 03:28] kross51 commented on #30
This happens on iOS 13 Beta 1 & 2 but not iOS 12.x.x on iPhone XSMax, XS, X, ...

[2019-06-28 03:30] kross51 commented on #30
![Screen Shot 2019-06-27 at 8 29 41 PM](https://user-images.githubusercontent.com/52305902/60315169-51146000-991a-11e9-9630-8603e18f9aca.png)

[2019-06-28 03:30] kross51 commented on #30
![Screen Shot 2019-06-27 at 8 30 21 PM](https://user-images.githubusercontent.com/52305902/60315191-65585d00-991a-11e9-9500-0e420f9da2f0.png)

[2019-06-28 09:53] varvusc commented on #30
@kross51 unfortunately, we can't reproduce your issue. Could you please try to run any of our sample with your hubname and connection string and message us if the problem will reproduce?

[2019-06-28 15:30] kross51 commented on #30
It appears the fix you guys just put in fixed my issue after I build the framework from master and updated that framework in my project.  Still testing but just wanted to give some quick feedback.

[2019-07-01 12:25] varvusc commented on #30
@kross51 I have closed this issue. Fill free to reopen if the issue will reproduced.

[2019-08-02 10:15] arek-avanade commented on #18
@jacksonakj I can confirm apns-collapse-id header works correctly now as far as you're using key-based authentication in Azure Notification Hubs (not certificate) for APNS.

[2019-08-02 12:17] jwargo commented on #17
Closing due to no response.

[2019-08-02 12:17] #17 closed

[2019-08-02 12:18] jwargo commented on #29
Closing due to no response.

[2019-08-02 12:18] #29 closed

[2019-08-09 19:21] marstr commented on #16
Seems like @elvirberisha has found a solution. I'm going to close/lock this issue as resolved.

[2019-08-09 19:21] #16 closed

[2019-08-16 17:55] arctouch-pedrocosta commented on #30
@varvusc are you planning to make another release of the .framework so we can download it? Or, we will have to build from master from now on?

[2019-09-06 02:54] ZaggerWang opened #32 "iOS13 crashed"
iOS13 `registerNativeWithDeviceToken` method crashed

[2019-09-06 05:14] brannon commented on #32
@zaggerwang this is a duplicate of #30. We are busy getting a new release ready that fixes this issue:
https://github.com/Azure/azure-notificationhubs-ios/releases/tag/2.0.4

It should be available in CocoaPods soon. Or you can download the framework from the release files.

[2019-09-06 05:14] #32 closed

[2019-09-06 05:16] brannon commented on #30
@kross51 @arctouch-pedrocosta a new release should be available shortly:

https://github.com/Azure/azure-notificationhubs-ios/releases/tag/2.0.4

We will publish to CocoaPods as well.

[2019-09-11 11:00] sjoerdsmink commented on #30
@brannon Any update on when this update will be available on CocoaPods? I see that version 2.0.4 is released, but it's not available on https://cocoapods.org/pods/AzureNotificationHubs-iOS

[2019-09-13 22:32] brannon commented on #11
It's super delayed, but we have published this SDK to CocoaPods now!

https://cocoapods.org/pods/AzureNotificationHubs-iOS

[2019-09-13 22:32] #11 closed

[2019-09-13 22:33] brannon commented on #30
Sorry, working through some issues with publishing. We should have it resolved soon.

[2019-09-14 06:27] brannon commented on #30
The updated pod has been published (version 2.0.4)

[2019-09-14 06:27] brannon commented on #32
The updated pod has been published (version 2.0.4)

[2019-09-19 12:45] g0rp commented on #30
Hi @brannon
I just fetched 2.04 from pods and the issue Is still happening on iOS13.1 with Xcode 11.

Podfile.lock: - AzureNotificationHubs-iOS (2.0.4)

Issue:
`+[SBNotificationHubHelper signString:withKeyData:keyLength:]:`

Can it happen because of this change from Apple ?
https://twitter.com/_inside/status/1138478471590633473?s=20

[2019-09-20 03:11] brannon commented on #30
@g0rp can you provide more detail on the error you are seeing? For example, more of the call stack and the type of exception?

The issue you linked to was fixed in 2.0.4. We changed the way we are formatting the push token.

I'll try to reproduce your issue with our sample app, but getting more info would be helpful.

[2019-09-24 17:16] brannon commented on #30
Thanks for the additional info. I'm working on reproducing the issue.

[2019-09-24 23:03] brannon commented on #30
@David4FSU you should be able to use the `didRegisterForRemoteNotificationsWithDeviceToken` delegate handler. That handler is still called when the app registers for push notifications.

The `UNUserNotificationCenterDelegate` methods are used when receiving the push notifications themselves (not related to registration).

I haven't been able to reproduce the crash you are seeing. Can you double ch

[2019-09-24 23:04] brannon commented on #30
Based on multiple recent reports that this issue is still happening, I'm going to reopen this issue while we work through it.

[2019-09-25 06:51] szejing547 commented on #30
I'm having the same issue using the iOS 13 and Xcode 11

[2019-09-25 13:06] David4FSU commented on #30
@brannon I think you may be on to something with the path. If I recall when I was trying to "update" the files, I was just deleting the .h header files out of the folder and then dragging the new ones in. This morning, I tried deleting the whole "WindowsAzureMessaging.framework" and dragging in the new one and on my first run I haven't crashed.
I'll need to do some more testing of course but just

[2019-09-25 13:14] szejing547 commented on #30
@David4FSU hi, I got the crash by reinstall my apps in iOS 13. It worked fine in iOS 12.

[2019-09-26 07:30] sheff1422 commented on #30
@brannon this may help you:
![image](https://user-images.githubusercontent.com/10601271/65667489-7bc0a280-e048-11e9-8dda-0ea11f8a7838.png)

[2019-09-26 07:34] szejing547 commented on #30
Apparently, the crash has gone in iOS 13.1

[2019-09-26 07:37] sheff1422 commented on #30
@szejing547 not really. i got the report above from the apple review team yesterday.

[2019-09-26 08:12] elvirberisha commented on #30
Same crash as @sheff1422 and also happens on iOS 13.1, apparently this error is related with SBNotificationHubHelper.m (line 40):
`CCHmac(kCCHmacAlgSHA256, cKey, keyLength, cData, strlen(cData), cHMAC);`

This happens if you already have the app installed in the device with the Push Notifications activated, then you remove the app, reinstall it from the App Store and then you allow the Push Notifi

[2019-09-26 13:53] almedin-mrndic-sn commented on #30
Hi @brannon
Can you confirm that the number of crashes will be at least reduced if we upgrade to the latest version of the library, or we should wait for the final fix?
Also, do you have an expected date when the library with the fix will be released?

[2019-09-26 14:51] David4FSU commented on #30
@brannon Just a quick follow up. My app works fine now when I properly installed the 2.0.4 version you suggested from here:  https://github.com/Azure/azure-notificationhubs-ios/releases    A tip for other, make sure you remove any existing versions before adding this one in. Thanks for the help!

[2019-09-26 20:38] brannon commented on #30
@almedin-mrndic-sn no ETA for a fix, since we haven't been able to reproduce the problem.

I've been looking at the line of code in question `SBNotificationHubHelper.m (line 40)` and I'm trying to trace backward and figure out how we could get into a state where we crash on that line.

What would be best is an isolated repro that I can run on my own device and step through the debugger to see how

[2019-09-30 08:34] OCP-team commented on #30
We had the impression that the crash only happens to us when we are sandbox mode, when we switch to production (through a release to testflight) we have no problems with exactly the same phone we were using during the debug session. We have the same situation as said before, crash after allowing push notifications on an iPhone with iOS 13.

[2019-09-30 09:24] Laumania commented on #30
@OCP-team I see a little the same, no crash in the version in AppStore...however, my push messages ain't working either, so I think Apple is just hidding this fatal error, to avoid breaking apps in the Store.

I could be totally wrong, however, I just don't see my push notifications working at all on iOS 13 - most likely due to this.

So, are push messages working in your TestFlight version on iOS

[2019-09-30 09:43] OCP-team commented on #30
@Laumania the version that we have in production right now still works fine on iOS 13, including receiving push notifications. Built using visual studio and xamarin forms.

[2019-09-30 09:49] Laumania commented on #30
@OCP-team But is the version you have in Prod now build against iOS 13, I mean with latest Xamarin and XCode 11?

[2019-09-30 09:58] OCP-team commented on #30
@Laumania I dug this information up for you and we are building with an azure build pipeline against Xcode 10.1. So no, there is a difference. Why this makes it possible for us to still receive push notificaitions is a mystery to me...

[2019-09-30 10:04] Laumania commented on #30
@OCP-team I'm pretty sure it's exactly because you have that version build with Xcode 10. I would assume Apple makes sure thay don't break all apps in AppStore with an iOS update, so they handle this for a periode of time.
But this clearifies that you have the same as the rest of us - which is good (no offense :P) so hopefully somebody with more knowledge about the Azure Notification Hub for iOS l

[2019-10-01 13:30] lehmberg commented on #30
I am also getting this after upgrading to Xcode 11 and building for iOS 13. Tried the newest framework and the app does not crash as it did with the cocoa pod version but I do not get the push messages on the device.
My current version from App Store built with Xcode 10 works fine - also on iOS 13
This is a major problem as we cannot release new versions of our app without breaking push notificati

[2019-10-04 06:27] elvirberisha commented on #30
UPDATE: @brannon just tried to uninstall the pod (AzureNotificationHubs-iOS) and reinstall again with version 2.0.4, it seems that the problem is now solved for us, currently no crashes from the updated version in the App Store.

[2019-10-04 07:59] lehmberg commented on #30
I tried removing my pod and also installed version 2.0.4 of the framework like @brannon and my app does not crash as it did before. But I also do not get push notifications on iOS 13.

[2019-10-04 12:28] OCP-team commented on #30
@lehmberg  I have the same situation, doesn't crash anymore but I dont get the push notifications.

[2019-10-04 13:33] eduardothiesen commented on #30
My app is currently crashing in production. Xcode 11.0 and release version 2.0.4 with pod, same issue as mentioned above.

[2019-10-04 20:57] brannon commented on #30
Everyone, thanks for the detailed reports. Can I ask that each of you reply with the following info:

- iOS Version (Phone):
- iOS Version (Deployment Target):
- Xcode Version (at build time):
- App Platform/Language:
  i.e. iOS/Objective-C, iOS/Swift, iOS/Xamarin, iOS/Xamarin.Forms
- NH SDK Version:
- How you are including the NH SDK:
  i.e. CocoaPods, manually including Framework, building from

[2019-10-04 21:04] RazvanEmilR commented on #30
@brannon I have this problem in Xamarin when registering with the hub. Been trying to figure this out for days. Works perfectly with iOS 12, the problem is iOS 13.1.2 in development mode and my iPhone 8 Plus.

Here are the details:
https://stackoverflow.com/questions/58230163/xamarin-ios-cannot-register-with-azure-notification-hub-in-ios-13-1-2?noredirect=1#comment102855959_58230163

[2019-10-05 09:34] mahmutpinarbasi commented on #30
Hey guys,
It seems `2.0.4` fixed the issue for me on iOS 13.1 with Xcode 11.1 GM

[2019-10-05 14:44] eduardothiesen commented on #30
@brannon It seems 2.0.4 fixed the issue for me too. What I had to do was delete all my pods and reinstall forcing the 2.0.4 version in cocoa pods and now it's working perfectly (does not crash and I receive push notifications)

[2019-10-07 09:38] OCP-team commented on #30
@brannon

    iOS Version (Phone): 13.1.2
    iOS Version (Deployment Target): 13.0
    Xcode Version (at build time): 11
    App Platform/Language: Xamarin.Forms
    NH SDK Version: 3.2.1
    How you are including the NH SDK: nuget
    Is the app currently crashing in registerNativeWithDeviceToken?: No
    Are you receiving notifications?: No, but I am with a phone running iOS 12

    Are you tes

[2019-10-07 11:40] lehmberg commented on #30
@brannon

OS Version (Phone): 13.1.2
iOS Version (Deployment Target): 10.0
Xcode Version (at build time): 11
App Platform/Language: iOS / Swift
NH SDK Version: 2.0.4
How you are including the NH SDK: framework
Is the app currently crashing in registerNativeWithDeviceToken?: No
Are you receiving notifications?: Not on iOS 13+

Are you testing with a locally built and installed App, or with an App i

[2019-10-07 19:17] RazvanEmilR commented on #30
I can confirm that push notifications now work for me in iOS 13.1.2

[2019-10-12 07:20] NateShaq opened #37 "IOS 13.1.2 | Authorization Failed 401 | iOS 12.4.1 works | using latest build 2.0.4 AZFM"
On iOS 12.4.1 works perfectly. Upgraded Framework to latest build 2.0.4 AZURE MSG FMWK
On iOS 13.1.2 I run the same code and get a 401 error.

Any thoughts? Says token has expired in 13.1.2 every time.
Tokens are correct and urls are correct. I think there is something wrong with the signing or time calculation.

iOS XCODE Console Output. Changed some details.
URL:https://nsp1.servicebus.windows.n

[2019-10-22 19:48] mlenarto opened #38 "iOS 13 Consistent crash on unregisterAllWithDeviceToken"
Consistent crash when we call unregisterAllWithDeviceToken.
- Using 2.0.4.
- Xcode 11.1
- iOS 13.1.3

Tried including the framework directly and through Cocoapods (not that it should make a difference).

Trace:
![Screen Shot 2019-10-22 at 2 43 47 PM](https://user-images.githubusercontent.com/2405919/67325241-79802580-f4da-11e9-9e5d-73c077813ef1.png)

Error in the console:
-[Swift.__StringStorage b

[2019-10-22 23:02] mlenarto commented on #30
Opened a new issue related to this one. Seeing the consistent crash with the unregisterWithDeviceToken function (not unregisterNativeWithDeviceToken). Xcode 11.1 iOS 13.1.3. Framework version 2.0.4 (latest).

[2019-10-23 04:10] brannon commented on #37
@NateShaq there are no known issues with generating the Bearer token on iOS 13. I was just testing this today on both iOS 13.0 and iOS 13.1.3.

My guess is there is an issue with the expiry time in the token and the time on the server.

Are you still seeing this issue? If so you may need to submit a support request through the Azure Portal so that the team can take a look on the backend and help t

[2019-10-23 04:14] NateShaq commented on #37
Brandon,

The issue was running Xcode 11.x on Mojave.
After updating to Catalina + Xcode 11.2 Beta. The issue is not longer present.
In Xcode 11.1's release notes, I noticed that it was suppose to support Mojave, but don't waste your time.

Nothing on the backend needed to change.

Thanks for the followup!

Nate

[2019-10-23 04:25] brannon commented on #37
Thanks for the confirmation!

[2019-10-23 04:25] #37 closed

[2019-10-23 04:59] brannon commented on #30
@OCP-team @lehmberg Thanks for the details! It sounds like the crash isn't occurring for you anymore. But it looks like you are aren't receiving any push notifications in your app? We received some reports that background notifications aren't being delivered on iOS 13.1+, but so far we haven't received reports that alert notifications are being dropped.

Can you provide some more details on how yo

[2019-10-23 05:00] brannon commented on #30
@mlenarto thanks for the report. We'll follow up on the issue you opened.

[2019-10-23 13:18] AndreiMisiukevich commented on #38
@brannon hi,
Do you need any other information/samples for reproducing and fixing this issue?

Thanks

[2019-10-23 15:02] mlenarto commented on #38
Yep, exactly @AndreiMisiukevich. We are passing a swift string casted as an NSData pointer, not actual NSData. Closing issue.

[2019-10-23 15:02] #38 closed

[2019-10-23 15:15] brannon commented on #38
@mlenarto @AndreiMisiukevich Thanks for the follow-up. Were you always passing a Swift string cast to `NSData` ?

We did not intend to make any breaking changes, and from what I can tell by the code change on our side, it should not have been a breaking change.

[2019-10-23 15:17] brannon commented on #12
Fixed in #10

[2019-10-23 15:17] #12 closed

[2019-10-23 15:18] brannon commented on #14
Fixed in #10

[2019-10-23 15:18] #14 closed

[2019-10-23 15:18] AndreiMisiukevich commented on #38
@brannon we passed Swift **String** (already escaped)

[2019-10-23 15:19] brannon commented on #13
Fixed in #10

[2019-10-23 15:19] #13 closed

[2019-10-23 15:22] brannon commented on #18
That's correct. All of the `apns-x` headers should work with token (key) based APNS credentials.

Unfortunately at this time custom `apns-x` headers don't work with certificate based APNS credentials. Fixing this is on our roadmap, but there are technical limitations we need to resolve first.

[2019-10-23 15:34] vokal-isaac commented on #38
@brannon The old code only sent the `description` message to `deviceTokenData`, so it would have "worked" (not crashed) for any `NSObject *`, not just `NSData *` (and actually worked as long as `[deviceTokenData description]` could be reduced down to a hex string with the same transformations as `description` on an `NSData` instance).

The new code sends the `bytes` message to `deviceTokenData`, w

[2019-10-23 17:49] brannon commented on #38
Yeah, understood. But the type in the interface is `NSData*`.

I want to make sure we didn't making a breaking change. If someone chooses to ignore the interface declaration, and we change the implementation, that's not a breaking change.

The old code never should have used `description` to format the object anyway. This was bound to break at some point.

[2019-10-24 10:39] lehmberg commented on #30
@brannon It works now for me

[2019-11-15 08:23] OCP-team commented on #30
@brannon ours works now as well! We had failed to notice that the way we retrieved the deviceToken wasn't working with iOS 13 / xCode 11 anymore because of the description change (length/bytes). Thank you for your hard work!

[2019-12-09 15:06] charvel02 commented on #30
@brannon
Is there a separate issue to handle background notifications getting dropped on 13.1+? I don't see one but I just wanted to double check. We're seeing the same issue with VOIP notifications when the app is in the background or terminated. We've tested this with 2.0.3 as well as 2.0.4 and the results seem to be consistent that notifications do not get delivered on iOS 13.1+. They both work

[2020-01-02 12:46] szymonkalista opened #39 "Question about tvOS support"
Hello,

I'd like to use Azure's Notification Hub to send some notifications to the users that are using AppleTV.

Notifications on iOS are working great, but I can't use this package on tvOS.

Would it be possible to have a package made for tvOS?

[2020-01-02 14:12] jwargo commented on #39
@szymonkalista this is not something currently on our roadmap as we haven't had a lot of requests for it. The best place to request features, and to get other customers to vote your suggested feature up, is to post it here: https://feedback.azure.com/forums/218849-notification-hubs.

[2020-01-02 14:12] #39 closed

[2020-02-10 14:29] IeuanWalker opened #40 "Updating from 3.2.1 to 3.3.0 breaks RegisteredForRemoteNotifications()"
Im using xamarin.forms and when i upgraded the Microsoft.Azure.NotificationHubs from 3.2.1 to 3.3 the `RegisteredForRemoteNotifications(UIApplication application, NSData deviceToken)` stopped being called.

[2020-04-17 05:26] prsreejith opened #41 "Azure Notification HUB Tag having issue"
I want to use the email ID someone.user@abc.xy.com as Tag while registering Azure Notification Hub through my Xamarin iOS Project.
I found that notification hub registration is working fine and sending push notification successfully from Azure Notification Hub Test send console also but it is not receiving on my iOS device at any state of the Application. As per my observation if the tag ( email i

[2020-04-23 14:06] powerje opened #43 "Swift Package Manager support?"
Is there a roadmap or discussion around SPM support for this library? This is something I'd be happy to contribute to if the team is open to it.

[2020-04-23 20:13] mpodwysocki commented on #43
@powerje Yes, that is on our roadmap for our SDK and will keep you posted on our progress!

[2020-04-25 00:34] mpodwysocki commented on #43
@powerje can you please review this work here and comment? https://github.com/Azure/azure-notificationhubs-ios/pull/46

[2020-04-25 16:17] powerje commented on #43
Thank you for looking into this so quickly!

When I try to pull this in via the feat/spm branch in Xcode I get an error due to the Package.swift file not being in the root of the project. I'm not sure if it is possible to direct Xcode to a subfolder to find Package.swift?

<img width="703" alt="Screen Shot 2020-04-25 at 11 51 49 AM" src="https://user-images.githubusercontent.com/481245/80284309-c0

[2020-04-25 21:22] mpodwysocki commented on #43
@powerje yes, that has been an issue here as well, and hoping there was an easy answer for that.  I did add UIKit explicitly as a framework to see if that helped.  Also made the change to the header file

[2020-04-26 01:14] powerje commented on #43
Okay, I have it building now - I'm not sure _why_ the UIKit import was failing, but building with xcodebuild seems to work if I change the imports to point to `../SBTemplateRegistration.h` - I don't know if this will break CocoaPods or other package managers? I also modified `Package.swift` slightly to point to the library specifically.

Because the Package.swift is not at the project root I had t

[2020-05-20 21:30] #30 closed

[2020-05-20 21:32] brannon commented on #30
@charvel02 Sorry, I didn't see your response on this issue. Are you still seeing issues with notifications being delivered? If so, can you open a new issue? You can also submit a support request through the Azure portal, which will be necessary if we need to investigate your specific resources.

[2020-05-20 21:35] brannon commented on #40
Hi @IeuanWalker, this repo is for the native iOS SDK, but if you provide more detail on your scenario I might be able to transfer this to the proper repo.

Are you using the `Microsoft.Azure.NotificationHubs` [nuget package](https://www.nuget.org/packages/Microsoft.Azure.NotificationHubs/) in your Xamarin.Forms app?

[2020-05-20 21:36] brannon commented on #41
@prsreejith Thanks for the report, we'll investigate.

[2020-05-20 21:42] brannon commented on #43
Hey @powerje, this is unrelated to the SPM discussions, but we are working on an updated SDK with a much simpler interface:
https://github.com/Azure/azure-notificationhubs-ios/releases/tag/3.0.0-preview1

If you are just getting started with integrating Notification Hubs in your app, we'd love if you could take a look at the new SDK and provide any feedback you might have.

Thanks!

[2020-05-21 15:36] IeuanWalker commented on #40
@brannon hi, sorry I couldn't fine a specific xamarin.forms repo. Ye i'm using `Microsoft.Azure.NotificationHubs` for XF

[2020-05-21 22:24] brannon commented on #40
@IeuanWalker thanks for confirming. `Microsoft.Azure.NotificationHubs` is really meant to be used server-side. Since it targets .NET Core, it can be used in client scenarios too - but only for managing the device registration (or installation). The SDK isn't involved in receiving notifications.

If updating to the a new version of the SDK caused you to stop receiving notifications, then it may be

[2020-05-23 02:19] powerje commented on #43
@brannon thanks for sharing! We will be working on adding notification support to this project soon and I will be sure to give you feedback when we start. I'd really like to be able to use SPM to use this SDK to avoid manually importing or introducing another package manager to the project.

With that in mind I have updated https://github.com/Azure/azure-notificationhubs-ios/pull/47 and rebased ag

[2020-05-28 19:46] powerje commented on #43
@brannon I've started incorporating the SDK into my application. The API surface is a lot simpler now!

One thing I noticed that I'd like to see changed is: `+initWithConnectionString:hubName`, the init at the beginning makes me think that this should be an instance method, and I'd expect it to return the instance it creates.

I think a more idiomatic name would be something like:
`setupWithConnec

[2020-05-29 15:56] powerje commented on #43
A few other things that I'm thinking might be useful:

Add optional methods to `MSNotificationHubDelegate` for receiving errors when registering for APNS and another for receiving the token. Most folks probably wont need these in production (unless they're using an additional backend to send pushes) but they're probably helpful to folks when debugging / setting up push.

[2020-06-18 17:21] Gevand opened #77 "Xamarin.Forms: Notifications stop after the device is rebooted."
Hello,

I've set up push notifications on my forms app. On Android everything is working well. IOS has the following issue:

After the device is rebooted, push notifications for the app will stop working. If I uninstall the app, and reinstall it again, newly sent push notifications will show up on the phone and will break again after reboot.

I can see the registration is still there, completely u

[2020-06-21 06:34] AnilKumar6270 commented on #23
Guys I am getting the same error. Actually we have created on static library which will work for our company and added to Project for Enable Bit Code    **bitcode bundle could not be generated because**.    When I disable Bit Code I can archive successfully but I should give Bit code enable.

How do I solve this can any one help me.

[2020-06-30 01:32] Gevand commented on #77
To anyone who is interested int he solution, this behavior happens when using the sandbox version of IOS push notification api. Once we switched to production cert it worked without issues.

[2020-06-30 01:32] #77 closed

[2020-07-14 00:43] mpodwysocki commented on #41
@prsreejith after working through this, we are unable to reproduce this bug.  Does this happen consistently?

[2020-08-04 16:14] 3bdev opened #91 "bitcode support"
it seems missing bitcode support on 3.0.0. I got this error while archiving app.

[2020-08-04 19:31] mpodwysocki commented on #91
@3bdev Can you provide your environment? What version of Xcode, and macOS?  I cannot reproduce this as we build our archives locally and it verifies just fine using `Scripts/build-archive.sh`

[2020-08-04 20:19] mpodwysocki commented on #91
@3bdev can you try again with 3.0.1? https://github.com/Azure/azure-notificationhubs-ios/releases/tag/3.0.1

[2020-08-05 07:57] 3bdev commented on #91
@mpodwysocki macos catalina 10.15.5 and xcode 11.6 anyway 3.0.1 is ok, thanks for your support.

[2020-08-05 21:18] mpodwysocki commented on #91
Sorry about that @3bdev but glad we got it fixed for you

[2020-08-05 21:18] #91 closed

[2020-08-06 02:15] mpodwysocki commented on #43
@powerje closing as we now have includes symlinked.  If this doesn't work, let's reopen and revisit.

[2020-08-06 02:15] #43 closed

[2020-08-06 02:16] mpodwysocki commented on #41
Closing as per being inactive

[2020-08-06 02:16] #41 closed

[2020-08-06 02:16] mpodwysocki commented on #25
Closing as stale

[2020-08-06 02:16] #25 closed

[2020-08-10 20:37] powerje opened #93 "[BUG] Adding a template crashes 3.0.1"
**Describe the bug**

Using the 3.0.1 SDK I'm seeing a crash when adding a template.

***Exception or Stack Trace***
[code]

[MSInstallation.m](https://github.com/Azure/azure-notificationhubs-ios/blob/95a407e56dbe1d89582b0312034001f462870e28/WindowsAzureMessaging/WindowsAzureMessaging/Model/MSInstallation.m#L115) is converting a dictionary to JSON but one of the elements (templates array) of the d

[2020-08-11 01:43] powerje commented on #93
I was just creating a PR for this myself 😅

Thanks for jumping on it so quickly

[2020-08-11 02:23] mpodwysocki commented on #93
Fixed as per #94

[2020-08-11 02:23] #93 closed

[2020-08-14 08:26] FrankSzendzielarz opened #95 "[BUG] Nested Register callback does not work when run on threadpool using Task.Run or Task.Factory.StartNew with any options combo"
**Describe the bug**
Nested Register callback does not work when run on threadpool using Task.Run or Task.Factory.StartNew with any options combo

***Exception or Stack Trace***
None

**To Reproduce**
Please see [original issue](https://github.com/xamarin/xamarin-macios/issues/9213):

***Code Snippet***
`public override void RegisteredForRemoteNotifications(UIApplication application, NSData device

[2020-08-20 22:25] danielmillipede commented on #23
I had this issue with the Pod for v3.1.0, archiving with XCode 11.3.1.
I installed the package via Swift Package Manager, and that seemed to work.

[2020-09-03 17:20] FrankSzendzielarz commented on #95
Sorry, no. This is now the third time this issue has been relocated. Can you (Azure/Xamarin) please take it upon yourselves to investigate the issue and assign it correctly? The platform does not work. A number of people have tried to raise the issue, and we're just getting bounced around. This is unacceptable.

[2020-09-04 04:01] FrankSzendzielarz commented on #95
@mpodwysocki This is NOT an issue with XamarinComponents. This is an issue with SBNotificationHub and the register/unregister methods. If you are absolutely certain it is a Xamarin problem, please reply directly to your colleagues in the referenced original issue , who closed it and sent us here.

[2020-09-10 20:34] mpodwysocki commented on #15
Closing as per fixed issue.  `unregisterAllWithDeviceToken:completion:` now calls `deleteAllRegistrationThread:` and no longer pulls from the cache.

[2020-09-10 20:34] #15 closed

[2020-09-10 20:38] mpodwysocki commented on #95
@FrankSzendzielarz for clarification, which version of the library are you using?

[2020-09-10 22:37] mpodwysocki commented on #95
@FrankSzendzielarz can reproduce the issue as well even with the latest version and will sync with the results

[2020-09-11 01:29] mpodwysocki commented on #95
@FrankSzendzielarz Yes, we are consolidating all of our Xamarin assets such as the Xamarin Forms and Xamarin.iOS, TVOS and MacOS support at [azure-notificationhubs-xamarin](https://github.com/Azure/azure-notificationhubs-xamarin)

[2020-09-11 04:37] brannon commented on #95
Hi @FrankSzendzielarz, please take a look at the `MSNotificationHub` class when you get a chance. We recently rethought our approach for our iOS and Android SDKs and incorporated some of the simplicity of the App Center Push SDK. We think it's a much better programming model.

I would appreciate if you could point us to the Xamarin docs you were working from so we can make sure they are updated.

[2020-09-11 06:01] FrankSzendzielarz commented on #95
@monahan7 Adding you into the thread. Looks like there's a full fix here.

[2020-09-11 06:02] FrankSzendzielarz commented on #95
@brannon thanks, will check it out. Will send you links to Xamarin docs too.

[2020-09-11 12:16] monahan7 commented on #95
[https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/webservices-azurenotificationhub/](https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/webservices-azurenotificationhub)

[https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/azure-services/azure-notification-hub](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/azure-services/

[2020-09-11 14:27] mpodwysocki commented on #95
@monahan7 I appreciate that, we will get those documents updated as soon as possible.  As noted, we have a Xamarin repository for all samples using the latest `MSNotificationHub` for iOS at [azure-notificaitonhubs-xamarin](https://github.com/Azure/azure-notificationhubs-xamarin)

[2020-09-17 09:34] FrankSzendzielarz commented on #95
Concurring here with @monahan7, those were the links I'd been working off. Also, long threads running right up to a month or two ago discussing similar issues

 https://forums.xamarin.com/discussion/170901/xamarin-ios-cannot-register-with-azure-notification-hub-in-ios-13-1-2

More on SO.

I will add something there but I think it would be a good idea to follow these sorts of forums and direct user

[2020-09-23 20:43] twittemb opened #100 "[BUG] Background notifications are not catched"
**Describe the bug**
I'm integrating Azure Notification Hubs in an iOS app. I use the azure notification hub portal to send a notification to my app.
While the app is in foreground the notification is received and the function "func notificationHub(didReceivePushNotification:)" is called. I'm able to read the payload.
But while the app is in background, the notification is displayed by the OS as a

[2020-09-24 16:20] mpodwysocki commented on #100
@twittemb to confirm, have you enabled `Background Modes` and `Remote Notifications` as noted in the [Pushing Background Updates to Your App]?(https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app)

[2020-09-24 16:37] twittemb commented on #100
@mpodwysocki

Yes. In fact I have done my tests with the SwiftUI sample app (adapted to my notification hubs data).

I have remade the test this morning and If I don't add the UNUserNotificationCenterDelegate conformance and the delegation in the AppDelegate, then background notifications are not read in the application.

Once I add that, I have foreground and background notifications (for silent

[2020-09-24 18:12] twittemb opened #101 "[QUERY] Handling categories does need swizzling being deactivated ?"
**Query/Question**
I'm trying to implement notifications with "categories" and custom actions. Although I am able to catch them in my app, the `notificationHub(notificationHub:didReceiveNotification:)` delegate function does not provide the user's actions (we only have title, subtitle, body and userInfo in the MSNotificationHubMessage object).

Do we have to deactivated method swizzling and implem

[2020-09-25 01:33] mpodwysocki commented on #100
@twittemb will investigate the other scenarios.  The test send I believe does not do the proper APNS headers for content-available which is required here.

[2020-09-25 02:48] twittemb commented on #100
I guess there might be an issue with the swizzling because we must make the AppDelegate conform to `UNUserNotificationCenterDelegate` and set the delegate for `UNUserNotificationCenter.current().delegate = self`.

Overall I’ve made everything work but there is some plumbing to do that is not specified in the documentation.

[2020-09-28 15:59] mpodwysocki commented on #100
@twittemb It's an issue with our sample apps as they should be setting the delegate immediately during `application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions`

[2020-09-28 17:19] twittemb commented on #100
Thanks for the follow up. So I guess we can close this issue ?

I think it could be nice to amend the README to reflect that, wouldn't it ?

[2020-09-28 18:33] twittemb commented on #100
If I may, I think the Swift / SwiftUI sample apps should be updated also right ?

[2020-09-28 18:35] mpodwysocki commented on #100
@twittemb they will be updated, just verifying through review that this is the correct approach before I merge the PR

[2020-09-28 18:36] twittemb commented on #100
ok great, thanks.

For the issue https://github.com/Azure/azure-notificationhubs-ios/issues/101, Am I right when I must deactivate the method swizzling to access a User response to a notification with a category (with custom actions) ?

[2020-09-29 00:22] mpodwysocki commented on #100
@twittemb you do not have to disable swizzling if you don't want to, no, as I show in my examples as I get the actions and save them to a variable as noted in the [AppDelegate](https://github.com/Azure/azure-notificationhubs-ios/blob/update-nh-sample/SampleNHAppSwift/SampleNHAppSwift/AppDelegate.swift#L69-L103)

[2020-09-29 13:17] twittemb commented on #100
@mpodwysocki Hi,

Is there a way to register to the APNs for Provisional Push with the Azure NH SDK ?

Thanks.

[2020-09-29 16:52] mpodwysocki commented on #100
@twittemb let's close this issue and please open a feature request for Provisional Push.

[2020-09-29 16:52] #100 closed

[2020-09-29 16:53] mpodwysocki commented on #101
@twittemb No, you do not have to deactivate the swizzling to handle this if you don't want to handle the calls as we show in our new samples

[2020-09-29 16:53] #101 closed

[2020-09-29 17:10] mpodwysocki opened #103 "Add support for APN Provisional Push"
**Is your feature request related to a problem? Please describe.**

iOS 12 supports the [Provisional Push](https://phiture.com/blog/provisional-push-what-is-it-and-how-will-it-impact-your-addressable-audience/) which changes how the APNS messages are displayed on the device.  Currently, this is not supported as we request permissions on the SDK startup.

**Describe the solution you'd like**
If the

[2020-09-29 23:18] mpodwysocki commented on #95
@FrankSzendzielarz @monahan7

We have confirmed this is an issue and a limitation with Apple.  This is the following reproduction code:
[code]

If the `hub registerNativeWithDeviceToken:tags:completion:` is not called on the main thread, this will cause an issue with the initializing of the `NSURLConnection`.  We create the `NSURLConnection` via `initWithRequest:delegate` in the [`SBURLConnection`

[2020-09-29 23:18] #95 closed

[2020-11-24 22:09] eduardothiesen opened #109 "Thread 1: Exception: "-[MSInstallation initWithCoder:]: unrecognized selector sent to instance 0x2825d8a50""
**Describe the bug**
Adding the 3.1.1 via cocoapods or swift package manager breaks the app at initialisation.

***Exception or Stack Trace***
2020-11-24 19:05:07.765153-0300 Dietbox[715:225535] -[MSInstallation initWithCoder:]: unrecognized selector sent to instance 0x2825d8a50
2020-11-24 19:05:07.765384-0300 Dietbox[715:225535] *** Terminating app due to uncaught exception 'NSInvalidArgumentExce

[2021-01-06 03:16] GyroJoe opened #112 "[BUG] [MSInstallation isEqualToMSInstallation:] is passing nil to NSCalendar method"
**Describe the bug**
[MSInstallation isEqualToMSInstallation:] is passing nil to NSCalendar method. This is generating the following log spew from Apple, which indicates this will be an exception in the future:
*** -[NSCalendar isDate:equalToDate:toUnitGranularity:]: date1 cannot be nil
Future exception.
A few of these errors are going to be reported with this complaint, then further violations wi

[2021-01-12 19:05] mpodwysocki commented on #112
@GyroJoe Yes, this seems to be an issue with Xcode, luckily it does not cause a crash but yet seems now.  Will investigate

[2021-01-15 02:04] hyounoo opened #114 "[QUERY] How to remove SceneDelegate and implement in @main struct?"
**Query/Question**
A clear and concise ask/query.
I have created SwiftUI project for iOS14 which doesn't include neither AppDelegate nor SceneDelegate.

But the [SampleNBHAppSwiftUI](https://github.com/Azure/azure-notificationhubs-ios/blob/main/SampleNHAppSwiftUI/SampleNHAppSwiftUI/SceneDelegate.swift) project has both AppDelegate and SceneDelegate and I understand that AppDelegate should be imple

[2021-01-16 12:44] hyounoo commented on #114
Closing issue as I found a way to remove SceneDelegate as of #115

[2021-01-16 12:44] #114 closed

[2021-01-18 06:51] hyounoo opened #116 "[BUG] MSNotificationHub.setUserId exception"
**Describe the bug**
When calling MSNotificationHub.setUserId("\(userId)"), I get date1 cannot be nil Future exception.

***Exception or Stack Trace***
[code]
**To Reproduce**
Call MSNotificationHub.setUserId("\(userId)") after or before MSNotificationHub.start(connectionString: connectionString!, hubName: hubName!) initialization.

***Code Snippet***
[code]

**Expected behavior**
I would expect s

[2021-01-26 22:22] mpodwysocki commented on #116
Closed by #108

[2021-01-26 22:22] #116 closed

[2021-01-26 22:23] mpodwysocki commented on #112
Closed by #108

[2021-01-26 22:23] #112 closed

[2021-01-26 22:23] mpodwysocki commented on #103
Closed by #108

[2021-01-26 22:23] #103 closed

[2021-07-20 08:31] RobbyMichelsPinch opened #118 "Received Failure Notifications"
**Describe the bug**
When trying to receive background notifications (silent notifications), nothing happens. When we open de app again, in the debugger we receive a exception, Connection 6: received failure notification. But when we send normal notifications (with an alert: "" attribute, everything works just fine)

***Exception or Stack Trace***
Add the exception log and stack trace if available

[2021-08-04 07:30] yhondri opened #119 "[BUG] - 'sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller based solutions where appropriate instead."
**Describe the bug**
When trying to build an application with Xcode 13 beta 4 and the SDK installed via SPM, the build fails because 'sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller based solutions where appropriate instead.

This error occurred in lines 180 and 182 of MSNotificationHub.m

**To Reproduce**
Build or compile an application with the SDK i

[2021-09-01 09:57] davidkroukamp opened #125 "Cannot create a successful registration description using pushChannel or installationId"
**Query/Question**

Following this tutorial: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-backend-ios-apple-apns-notification

I have a web api backend for registering devices for push notifications and associating tags with this registration which looks similar to:

[code]

I am then sending the "Handle"/ PNS hand;e to the server which is got in the iOS app by

[2021-09-01 15:04] davidkroukamp commented on #125
After setting ,y Mode to Sandbox instead of Production I now receive the notifications!

[2021-09-01 15:04] #125 closed

[2021-10-11 08:00] lucaschiem opened #126 "[BUG] iOS 15 - didReceiveRemoteNotification not called on background of first install"
**Describe the bug**
A clear and concise description of what the bug is.
On iOS 15, when fresh install the app -> put it in background (not killed yet) -> send a notification to the app -> tap on the notification -> didReceiveRemoteNotification not called to handle the notification.
***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reprodu

[2021-10-28 04:35] TilakGondi opened #127 "[BUG] Unable to use the released 3.1.5 xcframework build with my application, error when archiving: "bitcode bundle could not be generated""
**Describe the bug**
I am integrating the azurenotificationhub SDK with my framework project, when I create the archive for simulator architecture of my framework I get the error -  "ld: bitcode bundle could not be generated because '/Users/xxxxxx/Library/Developer/Xcode/DerivedData/MySDK-dozgbwlspdaldbhkykrfqephjqxb/Build/Intermediates.noindex/ArchiveIntermediates/AuthSDK/BuildProductsPath/Releas

[2022-02-28 02:43] muak opened #128 "[BUG] MSInstallationLifecycleDelegate and MSInstallationEnrichmentDelegate are not work."
**Describe the bug**
MSInstallationLifecycleDelegate and MSInstallationEnrichmentDelegate method are not called.
RegisteredForRemoteNotifications is called correctly.

***Exception or Stack Trace***

**To Reproduce**

***Code Snippet***

[code]

**Expected behavior**

DidSaveInstallation and WillEnrichInstallation are called.

**Screenshots**
If applicable, add screenshots to help explain your pro

[2022-04-12 21:37] GuillermoJimenezM opened #129 "How to remove the current NotificationHub iOS?"
I subscribe to the notification hub in the device like this:

`MSNotificationHub.start(connectionString: connectionString!, hubName: hubName!, options: hubOptions!)`

How can I clear(remove) that current installation from the device?

I already tried `UIApplication.shared.unregisterForRemoteNotifications()`

**Setup (please complete the following information if applicable):**
 - OS: iOS 15.4

[2022-05-29 22:23] ljunquera opened #131 "Is there any clearer way to get started with SwiftUI and Notification Hubs?"
**Query/Question**
I am following the documentation, but would like to have a clear basic set of instructions on how Notification Hubs should be implemented in SwiftUI.

For example in the [Initializing SDK](https://github.com/Azure/azure-notificationhubs-ios#initializing-the-sdk) section, where should this go? AppDelegate.swift seems like the most likely place and there likely should be a set of

[2022-05-30 13:35] ljunquera opened #132 "SwiftUI example w/o ViewController?"
Is there a SwiftUI example without a ViewController?

[2022-09-22 09:38] silex-bart opened #133 "/Helpers/SBTokenProvider.m:239:15: error: variable 'expireInSeconds' set but not used [-Werror,-Wunused-but-set-variable] [BUG]"
**Describe the bug**
/Helpers/SBTokenProvider.m:239:15: error: variable 'expireInSeconds' set but not used [-Werror,-Wunused-but-set-variable]

***Exception or Stack Trace***
/Helpers/SBTokenProvider.m:239:15: error: variable 'expireInSeconds' set but not used [-Werror,-Wunused-but-set-variable]

**To Reproduce**
Compile with carthage

[2022-11-21 09:35] getangar opened #135 "SwiftUI Previews in Xcode 14 not working while adding the WindowsAzureMessaging dependency"
**Describe the bug**
Xcode Version 14.1 (14B47b) is unable to generate the SwiftUI Preview when adding WindowsAzureMessaging (v3.1.5) reference from GitHub.

***Exception or Stack Trace***
HumanReadableSwiftError

SettingsError: noExecutablePath(<IDESwiftPackageStaticLibraryProductBuildable:ObjectIdentifier(0x0000600001a52820):'WindowsAzureMessaging'>)

**To Reproduce**
1. Start Xcode Version 14.1